.navbar {
  font-family: Arial, sans-serif;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 10px;
    background-color: #f0f0f0;
    
  }
  
  
  /* Rest of the CSS code remains the same */
  
  
  .nav-items {
    
    list-style-type: none;
    display: flex;
    gap: 50px;
    font-size:x-large;
  }
  
  
  
  
  .nav-items li a {
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    color: #090707;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-items li a:hover {
    color: #3227ff;
  }