body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:linear-gradient(to bottom right, #457782 , #12343b);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-description {
  width: 400px;
}

.course_integration {
  
  width: 200px; /* Adjust the width as per your requirement */
  height: 35px; /* Adjust the height as per your requirement */
  margin: 0 auto; /* Center the div horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px solid none; /* Add a border to create the box effect */
  padding: 10px; /* Add padding for some space inside the box */
  font-size: small;
  text-decoration:none;
  border-radius:  40px;
  background: linear-gradient(to  right,  #457782 , #12343b);
  
}
.course_integration  a {
  color: #000001;
  text-decoration:none;
}
.course_integration  a :hover{
  color:black;
}
.course_integration  h2 {
  color: #ffffff;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(7, 7, 7, 0.1);
  background:linear-gradient(to bottom right,#b93b6d, #cf8846);
  border-radius: 40px;
}


.due-date-input {
  flex: 1;
  padding: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
#taskInput {
  flex: 1;
  padding: 8px;
  padding: 8px;
  
}
#taskDescriptionInput {

  width: 200px;
}

button {
  padding: 5px 15px;
  background-color:#478559;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
button:hover {
  background-color: #0056b3;
}
ul {
  list-style: none;
  padding: 0;
  max-height: 40vh;
  overflow-y: auto;
}
li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 12px;
  margin-right: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.363);
}
li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}
.delete-btn {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
/* Adding space after checkbox */
li input[type="checkbox"] {
  margin-right: 10px;
}
/* Adding space between task item and delete button */
li span {
  flex: 1;
  margin-right: 10px;
  font-weight: 600;
}
/* Filter and Sort Buttons Styling */
.filter-container,
.sort-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.filter-container button,
.sort-container button {
  background-color:#478559;
}
.filter-container button:hover,
.sort-container button:hover {
  background-color: #133896;
}
/* Active Button Styling */
.filter-container button.active,
.sort-container button.active {
  background-color: #0056b3;
}
/* Edit Task Modal Styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* priority levels styling*/
li.low-priority {
  background-color: rgb(255, 255, 107);
}
li.medium-priority {
  background-color: rgb(165, 255, 165);
}
li.high-priority {
  background-color: rgb(255, 103, 103);
}
/* Responsive Styling */
@media (max-width: 558px) {
  .input-container {
    flex-direction: column;
    align-items: center;
  }
  #taskInput {
    width: 100%;
  }
  #dueDateInput{
    width: 100%;
  }
  #priorityInput{
    width: 30%;
    padding: 10px;
  }
  .filter-container,
  .sort-container {
    flex-wrap: wrap;
  }
  .filter-container button,
  .sort-container button {
    width: 100%;
  }
}
@media screen and (max-width:433px) {
  #taskInput {
    width: 280px;
  }
  #dueDateInput{
    width: 280px;
  }
  #priorityInput{
    width: 30%;
    padding: 10px;
  }
  .filter-container,
  .sort-container {
    flex-wrap: wrap;
  }
  .filter-container button,
  .sort-container button {
    width: 280px;
  }
 
}
